<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="copy">
           <%= image_tag("weinja-footer.png") %>
          <p>© 2017 weinja</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="social">
          <p>Social Media</p>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>