body{
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
}
.navbar{
	margin: 0;
  border-bottom:1px solid #e8e8e8;
}
a:hover{
	text-decoration: none;
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: #3b3b3b;
	padding: 5px;
	height: 70px;
}
.navbar-toggle{
    border: 1px solid #1d9d73;
}
.navbar-toggle .icon-bar{
    background-color: #1d9d73;
}
.nav li a{
	font-size: 17px;
	color: #1a1a1a;
    line-height: 40px;
}
.nav li a:focus{
	background-color: transparent;
	color: #1d9d73;
} 
.nav li a:hover{
	background-color: transparent;
	color: #1d9d73;
}
.carousel-bg{
    background-color: rgba(0,0,0,0.2);
    background-image: url(bg-1.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    opacity: 0.2;
}
.carousel-fade .item img{
  width:100%;
}
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
.carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
.carousel-control .next { margin-right: -15px; right: 50%; } /* Next */

.carousel .carousel-control { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


.carousel-control, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  } 

.carousel .carousel-control { opacity: 0; }
.carousel:hover .carousel-control { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  

.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
}
/*
.carousel-control{
	opacity: 0;}
.carousel-control:hover{
	opacity: 0.5;
}*/
/*.carousel-control:focus{
	opacity: 0;
}*/
.carousel-control .glyphicon-chevron-left{
	font-size: 13px;
}
.carousel-control .glyphicon-chevron-right{
	font-size: 13px;
}
.carousel-caption{}
.carousel-caption h3{
	font-size: 60px;
    max-width: 575px;
    font-weight: lighter;
    margin: 40px auto;
}
.carousel-caption button.startBtn{
	background-color: #1d9d73;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    max-width: 175px;
    margin: 0 2px;
    padding: 13px 20px 14px;
    border-radius: 1000px;
    border: 0;
    border: 2px solid #1d9d73;
    transition: all 0.8s;
}
.carousel-caption button.startBtn:hover{
	background-color: rgba(255,255,255,0.85);
    border: 2px solid #1d9d73;
    color: #1d9d73;
}
.heading{
	text-align: center;
}
.heading h3{
	font-size: 35px;
	color: #444;
	font-weight: lighter;
	line-height: 1.3em;
	margin: 65px auto 25px auto;
}
.heading p{
	color: #888;
	margin-bottom: 55px;
	line-height: 23px;
}
.heading p span{
	color: #1D9D73;
}
.g-icon{
	margin-bottom: 75px;
}
.g-icon figure{
	position: relative;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
}
.g-icon figure:before{
	top: 0px;
	left: 0px;
	right: 100%;
	bottom: 100%;
	border-top: 8px solid;
	border-left: 8px solid;
	border-color: #b0ddce;
}
.g-icon figure:after{
	left: 100%;
	top: 100%;
	bottom: 0px;
	right: 0px;
	border-bottom: 8px solid;
	border-right: 8px solid;
	border-color: #b0ddce;
}
.g-icon figure:before, .g-icon figure:after{
	content: "";
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.g-icon figure:hover:before {
	opacity: 1;
	bottom: 0px;
	right: 0px;
}
.g-icon figure:hover:after {
    opacity: 1;
    top: 0px;
    left: 0px;
}
/*.g-icon figure:hover{

	border:8px solid #b0ddce;
}*/
.g-icon img{
	width: 100%;
	transition: all 0.5s linear;
	transform: scale(1);
	opacity: .8;
}
.g-icon img:hover{
	transform: scale(1.1);
}
.g-icon h2{
	text-align: center;
    font-size: 20px;
    color: #1D9D73;
    font-weight: lighter;
}
.g-icon p{
	text-align: center;
	color: #a1a1a1;
	padding-top: 5px;
}
.f-option{
	background-color: #F6F8FA;
	padding: 35px 0;
}
.f-option .heading h3{
	margin: 35px auto 30px auto;
}
.icon-div{
    width: 130px;
    height: 130px;
    border: 2px solid #333;
    color: #333;
    margin: auto;
    border-radius: 100%;
    padding: 30px 0;
	transition: all 1s;
}
.features{
    margin: auto;
    text-align: center;
    max-width: 320px;
    padding: 55px 15px;
    transition: all 1s;
    cursor: pointer;
}
.features:hover{
	box-shadow: 0px 0px 5px 2px #1D9D73;
}
.features:hover .icon-div{
	color: #1D9D73;
	border: 2px solid #1D9D73;
}
.features i{
	font-size: 61px;
}
.features h2{
	display: inline-block;
    font-size: 20px;
    vertical-align: top;
    transition: all 1s;
}
.features:hover h2{
	color: #1D9D73;
}
.features p{
	color: #a1a1a1;
    line-height: 22px;
    /*text-align: left;*/
}

.mob{
	margin: 70px 0;
}
.mob img{
	width: 100%;
}
.mob h2{
	color: #444;
    font-weight: 300;
    font-size: 35px;
}
.mob p{
	color: #a1a1a1;
}
.mob i{
	font-size: 25px;
	color: #1D9D73;
}
.mob h3{
	display: inline-block;
	color: #1D9D73;
	font-size: 19px;
	margin: 17px 20px;
}
.offer{
    margin-top: 60px;
    margin-bottom: 60px;
}
.offer .col-sm-4{
	padding: 65px 40px;
	color: #ffffff;
	text-align: center;
}
.offer .col-sm-4 i{
	font-size: 90px;
}
.offer .col-sm-4 h3{
    font-weight: 300;
    font-size: 26px;
    margin-top: 10px;
}
.offer .col-sm-4 p{
	margin-top: 20px;
}
.offer .box1{
	background: #1fa87a;
}
.offer .box2{
	background: #1d9d73;
}
.offer .box3{
	background: #1b936c;
}
.packages{
	margin-bottom: 60px;
}
.packages .heading{
	margin-bottom: 30px;
}
.packages .box{
	background: #f6f8fa;
	color: #888888;
	padding: 0 0 9px;
	transition: 0.5s;
	position: relative;
	text-align: center;
	cursor: pointer;
    transition: all 1s;
}
.packages .box h3{
    margin: 0;
    padding: 30px 18px 25px;
    text-transform: capitalize;
    text-align: center;
    color: #333333;
}
.packages .box h1 sup{
    font-size: 24px;
    vertical-align: middle;
}
.packages .box h1{
    background: #1d9d73;
    color: #ffffff;
    font-size: 45px;
    line-height: 44px;
    margin: 0px;
    padding: 19px 18px 17px;
    font-weight: 300;
    text-align: center;
}
.packages .box h1 sub{
	font-size: 14px;
    line-height: 23px;
}
.packages .box ul{
	display: table;
    margin: 0 auto 20px;
    padding: 0 30px;
    list-style: none;
    text-align: left;
}
.packages .box ul li:before{
	content: "\f00c";
    color: #1d9d73;
	font-family: "FontAwesome";
    font: 14px;
    margin-left: -27px;
    padding-right: 26px;
}
.packages .box ul li{
	color: #888888;
    padding: 0px 0px 7px;
    font-weight: 300;
    margin: 0;
}
.packages .box ul li.disable:before{
	content: "\f00d";
    color: #1d9d73;
	font-family: "FontAwesome";
    font: 14px;
    margin-left: -27px;
    padding-right: 26px;
}
.packages .box ul li.firstItem{
	margin-top: 40px;
}
.packages .box:hover{
	background: #1d9d73;
	color:#fff;
}
.packages .box:hover h3{
	color:#fff;
}
.packages .box:hover h1{
	background: #f6f8fa;
	color:#1d9d73;
}
.packages .box:hover ul li:before{
	color: #ffffff;
}
.packages .box:hover ul li{
	color:#fff;
}
.projects .heading h3{
	margin-bottom: 60px;
}
.projects .box p{
    position: absolute;
    background-color: rgba(3, 76, 56, 0.48);
    border-radius: 5px;
    transition: all 0.5s;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
}
.projects .box:hover p{
	width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
.projects .box p span{
	margin-top: 45%;
	color: #f0f0f0;
	font-size: 14px;
	padding: 8px 12px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: rgba(3, 76, 56, 0.48);
    display: inline-block;
    opacity: 0;
	transition: opacity 0.2s 0 ease;
}
.projects .box:hover p span{
	opacity: 1;
	transition: opacity 0.2s 0.5s ease;
}
.projects .box{
	text-align: center;
  background-color: #f6f8fb;
  border-radius: 5px;
  position: relative;
  border: 1px solid #e5e9ef;
}
.projects .box h3{
  font-size: 16px;
  color: #00a175;
  margin: 10px 0 0;
  border-top: 1px solid #ccf7e8;
  padding-top: 10px;
  padding: 15px 10px;
  position: relative;
  z-index: 9;
  transition: all 1s;
}
.projects .box img{
  padding: 15px 10px;
	max-width: 100%;
}
footer{
  background-color: #f6f8fa;
  padding: 15px 0 6px 0;
  margin-top: 50px;
  border-top: 1px solid #e8e8e8;
}
footer .copy{
}
footer .copy p{
  padding-left: 25px;
}
footer .social{
  text-align:right;
}
footer .social p{
  font-size: 20px;
}
footer .social a{
  color: #868686;
  font-size: 20px;
  padding-left: 10px;
}
footer .social a:hover{
  color: #1D9D73;
}
.contacts{}
.contacts .heading{
  margin-bottom:15px;
}
.contacts .heading p{
  max-width: 730px;
  margin: auto;
  margin-bottom: 65px;
}
.contacts .form{
  
}
.contacts .form input{
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 14px;
  margin: 6px auto;
  outline:none;
}
.contacts .form textarea{
  width: 100%;
  height: 140px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 14px;
  margin: 6px auto 16px auto;
  resize:none;
  outline:none;
}
.contacts .form .submit{
  max-width: 200px;
  margin: 20px auto;
  height: 50px;
  border-radius: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d9d73;
  border:1px solid #1d9d73;
}
.contacts .form .submit:hover{
  color:#1d9d73;
  background-color:#fff;
}